<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292694254456-a447815cergbp3k1fgcr0n7l22enbhlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292694254456-a447815cergbp3k1fgcr0n7l22enbhlv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>292694254456-aml5hij7duqnqdkqene70rklg632e73v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABhA6RfRcOqIZTfZBWo5v03QmNBZUXig4</string>
	<key>GCM_SENDER_ID</key>
	<string>292694254456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daneart.mydeck</string>
	<key>PROJECT_ID</key>
	<string>mydeck-a171b</string>
	<key>STORAGE_BUCKET</key>
	<string>mydeck-a171b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292694254456:ios:091bf4087dad1fdcf39e8d</string>
	<key>DATABASE_URL</key>
	<string>https://mydeck-a171b.firebaseio.com</string>
</dict>
</plist>